.contact-form2-wrapper {
  display: contents;
}
.contact-form2-contact5 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact-form2-section-title {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form2-contact-info {
  gap: 16px;
  display: flex;
  padding: 8px 0;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form2-row1 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.contact-form2-row2 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.contact-form2-row3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
}
.contact-form2-form {
  gap: var(--dl-space-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.contact-form2-input1 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form2-text-input1 {
  width: 100%;
}
.contact-form2-input2 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form2-text-input2 {
  width: 100%;
}
.contact-form2-input3 {
  gap: 8px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form2-textarea {
  width: 100%;
}
.contact-form2-checkbox1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
}
.about-me-fragment1 {
  display: contents;
}
.about-me-text19 {
  display: inline-block;
}
.about-me-fragment2 {
  display: contents;
}
.about-me-text22 {
  display: inline-block;
}
.about-me-fragment3 {
  display: contents;
}
.about-me-text23 {
  display: inline-block;
}
.about-me-fragment4 {
  display: contents;
}
.about-me-text24 {
  display: inline-block;
}
.about-me-fragment5 {
  display: contents;
}
.about-me-text25 {
  display: inline-block;
}
.about-me-fragment6 {
  display: contents;
}
.about-me-text26 {
  display: inline-block;
}
.about-me-fragment7 {
  display: contents;
}
.about-me-text27 {
  display: inline-block;
}
@media(max-width: 991px) {
  .contact-form2-max-width {
    flex-direction: column;
  }
  .contact-form2-content {
    width: 100%;
  }
  .contact-form2-form {
    width: 100%;
  }
}

.about-me-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-me-desktop4 {
  width: 100%;
  height: 1639px;
  display: flex;
  padding: 40px 0;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
}
.about-me-home-page {
  gap: 10px;
  width: 1323px;
  height: 86px;
  display: flex;
  padding: 0 10px;
  align-items: center;
  flex-shrink: 0;
  border-style: solid;
  border-width: 1px;
  border-radius: 50px;
  justify-content: space-between;
  background-color: rgba(23, 23, 23, 1);
}
.about-me-home {
  gap: 10px;
  display: flex;
  padding: 20px 40px;
  overflow: hidden;
  align-items: center;
  border-radius: 60px;
  justify-content: center;
  background-color: rgba(253, 132, 57, 1);
}
.about-me-text10 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Bold;
  text-align: left;
  font-family: Akatab;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-about {
  gap: 10px;
  display: flex;
  padding: 20px 40px;
  overflow: hidden;
  align-items: center;
  border-radius: 60px;
  justify-content: center;
}
.about-me-text11 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-resmume {
  gap: 10px;
  display: flex;
  padding: 20px 40px;
  overflow: hidden;
  align-items: center;
  border-radius: 60px;
  justify-content: center;
}
.about-me-text12 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-frame121 {
  gap: 10px;
  display: flex;
  padding: 20px 40px;
  overflow: hidden;
  align-items: center;
  border-radius: 60px;
  justify-content: center;
}
.about-me-text13 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-frame13 {
  gap: 10px;
  width: 208px;
  display: flex;
  padding: 20px 40px;
  overflow: hidden;
  align-items: center;
  flex-shrink: 0;
  border-radius: 60px;
  justify-content: center;
}
.about-me-text14 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-whyhireme {
  gap: 96px;
  height: 806px;
  display: flex;
  padding: 122px 71px;
  overflow: hidden;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 50px;
  flex-direction: row;
  justify-content: center;
  background-color: rgba(242, 243, 246, 1);
}
.about-me-maskgroup {
  top: 332px;
  left: 9px;
  width: 390px;
  height: 415px;
  position: absolute;
  align-self: stretch;
}
.about-me-container2 {
  flex: 0 0 auto;
  width: 696px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-me-container3 {
  flex: 0 0 auto;
  width: 696px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-me-text15 {
  color: rgba(52, 64, 83, 1);
  height: auto;
  font-size: 64px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: ADLaM Display;
  font-weight: 400;
  line-height: 100%;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-container4 {
  flex: 0 0 auto;
  width: 696px;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-me-frame74 {
  gap: 47px;
  width: 696px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.about-me-frame11 {
  gap: 20px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.about-me-text18 {
  color: rgba(152, 161, 178, 1);
  width: 444px;
  height: auto;
  font-size: 20px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-container5 {
  flex: 0 0 auto;
  width: 696px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.about-me-fragment1 {
  display: contents;
}
.about-me-text19 {
  display: inline-block;
}
.about-me-fragment2 {
  display: contents;
}
.about-me-text22 {
  display: inline-block;
}
.about-me-fragment3 {
  display: contents;
}
.about-me-text23 {
  display: inline-block;
}
.about-me-fragment4 {
  display: contents;
}
.about-me-text24 {
  display: inline-block;
}
.about-me-fragment5 {
  display: contents;
}
.about-me-text25 {
  display: inline-block;
}
.about-me-fragment6 {
  display: contents;
}
.about-me-text26 {
  display: inline-block;
}
.about-me-fragment7 {
  display: contents;
}
.about-me-text27 {
  display: inline-block;
}
.about-me-component11 {
  width: 100%;
  height: 147px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 24px 0;
  background-color: rgba(251, 100, 19, 1);
}
.about-me-frame122 {
  gap: 15px;
  top: 43.94763946533203px;
  left: -19px;
  width: 3942px;
  display: flex;
  position: absolute;
  align-items: center;
  background-color: rgba(255, 255, 255, 1);
}
.about-me-text28 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-star1 {
  width: 34px;
  height: 34px;
}
.about-me-text29 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-star3 {
  width: 34px;
  height: 34px;
}
.about-me-text30 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-star2 {
  width: 34px;
  height: 34px;
}
.about-me-text31 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-star4 {
  width: 34px;
  height: 34px;
}
.about-me-text32 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-star5 {
  width: 34px;
  height: 34px;
}
.about-me-text33 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-text34 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-text35 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-text36 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-text37 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-text38 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-text39 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-text40 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-text41 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-me-text42 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 48px;
  font-style: Regular;
  text-align: left;
  font-family: Abel;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
@media(max-width: 1200px) {
  .about-me-home-page {
    width: 100%;
  }
  .about-me-maskgroup {
    top: 517px;
    left: 149px;
    width: 516px;
    height: 409px;
  }
  .about-me-text15 {
    color: rgb(52, 64, 83);
  }
  .about-me-text16 {
    color: #344053;
  }
  .about-me-text17 {
    color: #fd8439;
  }
  .about-me-frame74 {
    width: 483px;
  }
  .about-me-component11 {
    height: 142px;
  }
}
